@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
    color: hsl(0, 0%, 25%);
}

#basil-header {
    background: hsl(76, 35%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    text-shadow: 1px 1px 6px hsl(76, 35%, 60%);
}

#basil-header.is-failed {
    background: hsl(0, 65%, 75%);
    color: hsl(76, 35%, 95%);
    padding: 0.5em;
    text-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

#basil-header input {
    border: none;
    background: white;
    box-shadow: 1px 1px 6px hsl(76, 35%, 60%);
}

#basil-header.is-failed input {
    box-shadow: 1px 1px 6px hsl(0, 35%, 60%);
}

#basil-header input[type="checkbox"] {
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    -webkit-appearance: none;
}

#basil-header input[type="checkbox"]:checked:before {
    content: '✔';
    position: relative;
    top: -0.1em;
    color: hsl(76, 35%, 50%);
}

#basil-title {
    font-size: 2em;
    color: white;
    text-decoration: none;
    display: block;
}

#basil-results {
    padding: 1em 1.5em;
}

#basil-results ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

#basil-results li {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.is-hiding-passed .is-passed {
    display: none;
}

/* Parents */
.basil-parent {
    font-weight: bold;
}

.basil-parent.is-collapsed > ul {
    display: none;
}

.basil-expandcollapse {
    opacity: 0.2;
    cursor: pointer;
}

.basil-test-icon,
.basil-test-icon[class^="icon-"],
.basil-test-icon[class*=" icon-"]
{
    display: inline-block;
    width: 1em;
    text-align: center;
}

/* Leaves */
.basil-leaf {
    font-weight: normal;
    cursor: default;
    list-style: none;
}

/* Links */
.basil-test-apply-filter {
    cursor: pointer;
    opacity: 0.2;
    padding: 2px;
}
.basil-test-apply-filter:hover {
    opacity: 1;
    color: hsl(200, 80%, 40%);
}

.basil-inspect {
    opacity: 0.2;
    padding: 2px;
}

.basil-inspect:hover {
    opacity: 1;
    color: hsl(200, 80%, 40%);
}

.is-running {
    opacity: 0.3;
}

/* Code */
.toggle-fail-code {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.toggle-fail-code:before {
    content: '';
    font-family: FontAwesome;
    width: 1em;
    height: 0.7em;
    opacity: 0.2;
}

.toggle-fail-code:hover:before,
.toggle-fail-code:checked:before {
    opacity: 1;
    color: hsl(200, 80%, 40%);
}

.fail-code {
    font-family: Consolas, monospace;
    white-space: pre;
    display: none;
    font-size: 0.7em;
}

.toggle-fail-code:checked ~ .fail-code {
    display: block;
}

/* Summary */
#basil-summary {
    white-space: nowrap;
    position: absolute;
    right: 10px;
    font-size: 2em;
}

#basil-passes {
    color: forestgreen;
}

#basil-fails {
    color: firebrick;
}

/* Input */
#basil-filter {
    width: 40em;
    padding-left: 0.3em;
}

/* Passed/failed icon */
.icon-ok {
    color: hsl(76, 80%, 40%);
}
.icon-remove {
    color: hsl(0, 80%, 50%);
}